<nav>
	<div class="site-title">
		<a href="/"><h1>Ye Ol' Quote App</h1></a>
		<p>A BitDegree Site</p>
	</div>
	<ul>
		<li><a href="/">Homepage</a></li>
		<li><a href="/about">About page</a></li>
		<li><a href="/quotes/create">Add a Quote</a></li>
		<li><a href="/randomJS">Random Quote</a></li>
		<li><a href="/testButton">Test Button / 404</a></li>
	</ul>
</nav>
