<!DOCTYPE html>
<html lang="eng">
	<%- include('./partials/header.ejs') %>
	<body>
		<%- include('./partials/navbar.ejs') %>
		<!-- <h1>A great quote generator will go here soon ...</h1> -->
		<h1>A great quote generator will go here soon ...</h1>
		<div id="quoteDisplayField"></div>
		<button onclick="newQuote()">Click me for a quote!</button>
		<script src="backEnd.js"></script>
		<!-- Change the above to a back-end route -->
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
