<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Fancy Quote Generator</title>
  </head>
  <body>
    <nav>
      <a href="/">Homepage</a>
      <a href="/about">About page</a>
      <a href="/testButton">Test Button</a>
    </nav>
    <!-- <h1>A great quote generator will go here soon ...</h1> -->
    <h1>A great quote generator will go here soon ...</h1>
    <div id="quoteDisplayField"></div>
    <button onclick="newQuote()">Click me for a quote!</button>
    <script src="backEnd.js"></script>
    <!-- Change the above to a back-end route -->
  </body>
</html>
